@charset "UTF-8";

body{
    background-attachment: fixed;
    background-image: linear-gradient(to bottom, #BFBDA3, #6E7346);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
main{
    background-color: white;
    margin: auto;
    width: 600px;
    padding: 10px;
    box-shadow: 10px 10px 15px #7c7c7c;
}
h1{
    text-shadow: 5px 5px 15px #7c7c7c;
    text-align: center;
}
h2{
    text-shadow: 5px 5px 15px #7c7c7c;
}